a, a:hover, a:visited, a:active {color:black;}
body {margin: 0;}

.float_left { float: left; }
.float_right { float: right; }

#logo_button { font-size: 18px; text-decoration: none; }
#login_form { margin-bottom: 4px; }
#login_table { margin-top: 12px; font-size: 16px; }
#login_forgot { font-size: 12px; }

#bar_outer { background-color: #6B8E23; }
#bar_inner {
	overflow: hidden;
	width: 1000px;
	margin: 0 auto; }

#container {
	background-color: #fffb8a;
	overflow:hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto; }
#geoloc_form {
	width: %50;
	overflow: hidden;
	margin-top: 75px;
	margin-left: 50px;
	text-align: left;
	float: left; }
#plot_space {
	width: 50%;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	float: right; }
